.header {
  .wrapper {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding-top: 30px;
  }

  ul {
    display: flex;

    li {
      flex: auto;
      text-align: center;
      border: 1px solid white;
      border-left: none;
      padding: 15px;

      &:last-child {
        border-right: none;

      }
    }
  }

  &__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

      p {
        margin: 0;
      }
  }
}
